
/* GENEL Code Area */
* {
    box-sizing: border-box;
}
body {
    display: flex;
    width: auto;
}

.container {
    display: flex;
    /* width: 1400px; */
}


/* GENEL Code Area */


/* NAVIGATION Code Area */
nav {
    display: flex;
    /* flex-basis: 100%; */
    /* float: left; */
    height: 280px;
    width: 100%;
    /* justify-content: space-around; */
}
.main-logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    /* position: relative; */
    margin-top: 50px;
    margin-left: 50px;
}
.middle-nav {
    /* flex-grow: 0;
    flex-shrink: 0; */
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-left: 70px;
    max-width: 1400px;
}
.right-nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
    position: absolute;
    top: 50px;
    right: 50px;
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
}




.social {
    margin-top: 60px;
    /* margin-bottom: 50px; */
}
.menu-main {
    
}
.social-icons li, .links li {
    padding-right: 20px;
    margin-right: 40px;
}


.horizontal {
    list-style: none;
    display: flex;
    flex-direction: row;
    
} /*list style none ayarlandi ve yatay olarak hizalama saglandi*/

.horizontal a, .right-nav a:last-child {
    text-decoration: none;
/* } bu kod grubu ile right-nav icindeki son elemanin alt cizgisini ve horizontal icindeki tum a elemanlarinin alt cizgilerini yok ettim */
}
.horizontal li {
    margin: 5px 10px;
}

.right-nav img {
    width: 30px;
    height: 30px;
}








/* NAVIGATION Code Area */